.lb_cuerpo {
  font-weight: bold;
  width: 400px;
}

.lb_rojo {
  color:#FF0000;
  font-size:0.9em;
}

textarea#area_cuerpo {
  max-width: 400px;
}

span {
  display: block;
}

.div_nota {
  background: #D0F9F5;
  padding:5px;
}